.post-new{
    margin:70px auto;
    border:1px solid #dfdfdf;
    max-width:60%;
    padding:100px;
    line-height: 1.5em;
    text-align:justify;
    border-radius:8px;
    height: 25rem;
    box-shadow: inset 100px -500px 300px -50px rgba(0, 0, 0, 0.9);
    display: flex;
}

.post-new h1{
    margin-top: -10px;
    text-align: center;
    font-size: 80px;
    color: white;
    line-height: 01em;
}

.post-new h3{
    text-align: center;
    color: white;
}